*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    html, body
{
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: lightslategray; */
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 30px;
}
#nav h4{
    font-size: 20px;
    font-weight: 500;
}
#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
}
#center {
    width: 100%;
    /* background-color: blue; */
    padding: 40px 80px;
}
#center h1 {
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
}
#center-in{
    height: 200px;
    width: 100%;
    /* background-color: red; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
#right{
    width: 20%;

}
.elem{
    /* background-color: yellow; */
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;

}
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
    text-decoration: underline;
}
#bottom{
    height: 36%;
    width: 100%;
    background-color: blue;
    background-image: url(https://images.unsplash.com/photo-1590806758167-be790f75a167?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 60%;
}